@media only screen and (max-width: 1500px) {
       .main-container {
              padding: 0 50px;
       }

       .hero-section label {
              font-size: 14px;
       }
}


@media only screen and (max-width: 1400px) {
       .hero-section .bx-item {
              padding: 0 5px;
       }

       .main-container {
              padding: 0 20px;
       }

       .heading-lg {
              font-size: 50px;
       }

       .slider-container h3 {
              font-size: 40px;
       }

       .card-slide {
              width: 568px;
              padding: 40px;
       }

       .our-mission .msn-bx {
              padding: 30px 20px 40px;
       }
}

@media only screen and (max-width: 1200px) {
       .hero-section label {
              padding: 8px 11px;
              font-size: 12px;
       }

       .hero-section h1 {
              font-size: 46px;
              max-width: 670px;
              margin: 0 auto 10px;
              width: 100%;
       }

       .hero-section .selection-bx p {
              font-size: 18px;
       }

       .hero-section {
              padding: 184px 0 152px;
       }

       .hero-section h4 {
              font-size: 22px;
       }

       .heading-lg,
       .slider-container h3 {
              font-size: 36px;
              line-height: 46px;
       }

       .about-us .heading-lg {
              margin-bottom: 10px;
       }

       .about-us {
              padding: 80px 0 80px;
       }

       .property-card .content-bx h4 {
              font-size: 26px;
       }

       .property-card .content-bx {
              padding: 0 15px 20px;
       }

       .property-card figure {
              margin-bottom: 20px;
       }

       .slider-container .nav-link {
              font-size: 16px;
              font-weight: 600;
              padding: 15px;
       }

       .p-btm {
              padding-bottom: 60px;
       }

       .p-top {
              padding-top: 60px;
       }

       .our-mission h3 {
              margin-bottom: 20px;
              font-size: 30px;
       }

       .our-mission h6 {
              font-size: 18px;
              line-height: 23px;
              margin-bottom: 10px;
       }

       .our-mission .msn-bx p {
              line-height: 24px;
       }

       .card-slide {
              width: 528px;
              padding: 20px;
       }

       .card-slide .rating-bx {
              margin-bottom: 20px;
       }

       .card-slide h5 {
              margin-bottom: 5px;
       }

       .card-slide p {
              line-height: 26px;
       }

       .card-slide .reviewer {
              margin-top: 20px;
       }

       .card-slide .reviewer strong {
              font-size: 18px;

              margin-bottom: 0;
       }

       .card-slide .reviewer small {
              font-size: 16px;
       }

       .testimonial-right .testimonial-bx {
              margin-top: 30px;
       }

       .your-opinion .rating-bx span {
              width: 48px;
              height: 48px;
          }
}


@media only screen and (max-width: 992px) {
       header .hamburger {
              display: block;
       }

       header .mb-container {
              position: fixed;
              top: 0;
              left: -100%;
              width: 100vw;
              height: 100vh;
              transition: all 0.5s linear;
              background-image: url('../images/mobile-menu-bg.png');
              background-repeat: no-repeat;
              background-size: cover;
              display: none;
       }

       header .mb-container.open-menu {
              left: 0;
              display: block;

       }

       header .contact {
              display: none;
       }

       header .mb-container .contact {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 15px 15px 15px;
              margin: 0 0 20px;
              border-bottom: 1px solid #fff;
       }

       header .mb-container .contact>* {
              flex: 1;
       }

       header .mb-container .contact>span {
              text-align: left;
              flex: 0;
       }

       header .mb-container .contact>div {
              display: flex;
              align-items: center;
              gap: 10px;
              justify-content: end;
       }

       header nav {
              text-align: left;
       }

       header li {
              display: block;
              padding: 15px;
       }

       header li a.active::before {
              display: none;
       }

       .hero-section .item-two,
       .hero-section .item-one,
       .hero-section .item-four,
       .hero-section .item-three {
              width: 50%;
       }

       .hero-section .select-bx {
              margin-top: 20px;
              gap: 20px 0;
       }

       .hero-section h4 {
              font-size: 20px;
              margin-bottom: 10px;
       }

       .hero-section .center-btn {
              margin-top: 20px;
       }

       .counter {
              padding: 20px 0 0 0;
       }

       .hero-section {
              padding: 150px 0 100px;
       }

       .slider-section .slide img {
              height: 40px;
       }

       .slider-section {
              margin-top: -49px;
       }

       .about-us {
              padding: 60px 0 60px;
       }

       .p-top {
              padding-top: 40px;
       }

       .p-btm {
              padding-bottom: 40px;
       }

       .our-mission h6 {
              min-height: auto;
       }
}



@media only screen and (max-width: 768px) {
       header .logo {
              max-width: 170px;
       }

       .hero-section h1 {
              font-size: 30px;
              max-width: 320px;
       }

       .hero-section .selection-bx p {
              font-size: 16px;
              line-height: normal;
              max-width: 400px;
              margin: auto;
              width: 100%;
       }

       .counter strong {
              font-size: 24px;
              margin-bottom: 0;
       }

       .counter>div {
              padding-left: 15px;
       }

       .counter {
              gap: 0 30px;
       }

       .counter span {
              font-size: 14px;
       }

       .hero-section label {
              padding: 8px 9px;
       }

       .hero-section h4 {
              font-size: 18px;
              margin-bottom: 8px;
       }

       .secondary-btn {
              padding: 14px;
              font-size: 14px;
       }

       .about-us {
              padding: 40px 0 40px;
       }

       .heading-lg,
       .slider-container h3 {
              font-size: 26px;
              line-height: 32px;
       }

       .card-slide {
              width: 458px;
              padding: 15px;
       }

       .card-slide .rating-bx span {
              width: 30px;
              height: 30px;
       }

       .card-slide .rating-bx {
              margin-bottom: 15px;
       }

       .card-slide h5 {
              font-size: 20px;
       }

       .card-slide p {
              font-size: 16px;
              line-height: 22px;
       }

       .your-opinion .rating-bx span {
              width: 38px;
              height: 38px;
          }
}


@media only screen and (max-width: 576px) {
       .main-container {
              padding: 0 15px;
       }

       .hero-section .item-two,
       .hero-section .item-one,
       .hero-section .item-four,
       .hero-section .item-three {
              width: 100%;
       }

       .hero-section .selection-bx p {
              font-size: 14px;
       }

       header .logo {
              max-width: 130px;
       }

       .hero-section h1 {
              font-size: 26px;
       }

       .hero-section .select-bx {
              gap: 15px 0;
              padding: 10px 10px;
       }

       .hero-section h4 {
              font-size: 14px;
       }

       .counter strong {
              font-size: 18px;
       }

       .counter span {
              font-size: 12px;
       }

       .slider-section .brand-slider {
              padding: 20px;
       }

       .slider-section {
              margin-top: -39px;
       }

       .hero-section {
              padding: 150px 0 60px;
       }

       .about-us {
              padding: 30px 0 30px;
       }

       p {
              font-size: 14px;
       }

       .heading-lg,
       .slider-container h3 {
              font-size: 20px;
              line-height: 26px;
       }

       .slider-container h3 {
              margin-bottom: 10px;
       }

       .slider-container .nav-link {
              font-size: 14px;
              font-weight: 600;
              padding: 10px;
       }

       .p-top {
              padding-top: 30px;
       }

       .p-btm {
              padding-bottom: 30px;
       }

       .our-mission .msn-bx {
              padding: 8px 10px;
       }

       .our-mission h3 {
              margin-bottom: 10px;
              font-size: 24px;
       }

       .our-mission h6 {
              font-size: 15px;
              line-height: 19px;
              min-height: 39px;
       }

       .our-mission .msn-bx p {
              line-height: 18px;
              font-size: 14px;
       }

       .others-services .owl-dots {
              margin-top: 30px;
       }

       .slider-container .btn-wrap {
              margin-bottom: 40px;
       }

       .primary-btn,
       .ouline-btn {
              padding: 10px 16px;
              font-size: 14px;
              font-weight: 600;
       }

       .property-card .content-bx p {
              margin-bottom: 15px;
       }

       .our-mission .center-content p {
              line-height: 23px;
       }

       .card-slide {
              width: 398px;
          }

          .your-opinion .rating-bx span {
              width: 24px;
              height: 24px;
          }
}